/* CSS */
body {
  background-image: url('../img/desktop.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Desktop */
.title-div {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.settingBtn {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dropdown-item {
    color: black;
    display: block;
    padding: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.6);
    border: 1px solid;
    width: 10%;
    box-shadow: 0 0 10px rgba(246, 244, 245, 0.435);
}


.show {
    display: block;
}

.dropdown-item:hover {
    background-color: #2980b9;
}


.clockDiv {
    color: rgb(0, 0, 0);
}

/* App */
.app-container {
    position: absolute;
    min-height: 200px;
    transition: width 0.3s, height 0.3s;

}


#label-div {
    position: absolute;
    width: 502px;
    border-radius: 0.2em;
}

.appName {
    color: white;
    background-color: rgb(59, 59, 59);
    position: relative;
    text-align: center;
    margin: 0;
    height: 20px;
}

.appName p {
    margin: 0;
}

#bottom-div {
    position: absolute;
    height: 20px;
    width: 502px;
    border-radius: 0.2em;
    bottom: 0;
}

#closeBtn {
    width: 30px;
    border-width: 0;
    background-color: #2980b9;
    color: #fff;
    border-radius: 17px;
    cursor: pointer;
    float: right;
    margin-bottom: 2px;

}

#minimizeBtn {
    width: 30px;
    border-width: 0;
    background-color: #2980b9;
    color: #fff;
    border-radius: 17px;
    cursor: pointer;
    float: right;
    margin-bottom: 2px;
    margin-right: 2px;

}

#minimizeBtn:hover {
    color: black;
    background-color: rgb(246, 246, 74);
}

#closeBtn:hover {
    color: black;
    background-color: red;
}


  .app-container.minimized {
    width: 0;
    height: 0; 
    overflow: hidden;
  }

/* Footer */
footer {
    background-color: rgba(240, 248, 255, 0.658);
    position: fixed;
    bottom: 0;
    width: 95%;
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 2.5%;
    padding-top: 3px;
}

.app {
    display: inline-block;
    font-size: 15px;
    width: 50px;
}

.common-image-app {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}


.common-image-app-min {
    width: 80%;
    max-width: 80%;
    filter: brightness(60%);
}

.common-image-app-min:hover {
    cursor: pointer;
}

.common-image-app:hover {
    cursor: pointer;
    filter: brightness(50%);
}


/* MEMORY GAME: */
.memory-game {
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 0.2em;
    padding: 10px;
    background-color: rgb(189, 183, 197);
    width: 482px;
}

.buttons-div {
    text-align: center;
    background-color: pink;
    padding-bottom: 7px;
    border-radius: 40px;
}

#endBtn {
    width: 37px;
    height: 37px;
    color: rgb(255, 5, 5);
    font-style: oblique;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    border-radius: 50px;
    border-width: 1px;
    border-color: red;
    margin-top: 5px;
}

#restartBtn {
    text-align: center;
    background-color: lightblue;
    font-style: oblique;
    height: 37px;
    cursor: pointer;
    margin-top: 5px;
    border-color: rgb(189, 183, 197);
    width: 100%;
    border-radius: 12px;
}

#restartBtn:hover,
#endBtn:hover {
    filter: brightness(70%);
}

.buttonSize {
    background-color: #FEFFBF;
    width: 90px;
    color: rgb(35, 8, 57);
    font-style: italic;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 30px;
    border-width: 0;
    height: 25px;
    margin-top: 0;
}

.buttonSize:hover {
    filter: brightness(60%);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.buttons-div .p {
    font-style: italic;
    color: #FEFFBF;
    font-size: 20px;
    margin-bottom: 5px;
}

.game-container {
    position: relative;
    max-height: 700px;
    display: grid;
    min-width: 210px;
    justify-content: space-around;
}

.content {
    background-color: rgb(148, 134, 167);
    font-size: large;
    border-radius: 0.6em;
    margin-top: 7px;
    text-align: center;
}

.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
    margin-top: 5px;
}

.card-before,
.card-after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    transition: transform 0.5s ease-in;
    backface-visibility: hidden;
}

.card-before {
    background-color: rgb(251, 235, 211);
    font-size: 50px;
}

.card-after {
    transform: rotateY(180deg);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sameCard .card-after {
    display: none;
}

.sameCard {
    color: blueviolet;
}
.card-container.render .card-before {
    transform: rotateY(180deg);
}

.card-container.render .card-after {
    transform: rotateY(0);
}


.hide {
    display: none;
}



/* Chat */
.messageInputDiv {
    background-color: #f0f0f0;
    padding: 10px;
    border-top: 1px solid;
    width: 482px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    bottom: 0;
    position: absolute;
}

.inputRow {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.message-input {
    border: 1px solid;
    border-radius: 4px;
    width: 80%;
}



.emojiRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.allEmojisDiv button {
    margin: 5px;
}

.chat-container {
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 0.2em;
    padding-top: 0;
    background-color: #dedbda;
    width: 502px;
    word-break: break-all;
    display: inline-block;
    height: 500px;
    padding-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-container2 {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    word-break: break-all;
    display: inline-block;
    height: 385px;

}

.sendButton {
    color: white;
    width: 15%;
    background-color: #2980b9;
    cursor: pointer;
    border-radius: 7px;
    border-width: 0;
    margin-right: 5px;
    margin-left: auto;
    height: 33px;
}


.timestamp {
    font-size: 0.8em;
    color: #555;
    margin-left: 8px;
    float: right;
    padding-top: 3px;
}

.inputDiv {
    position: relative;
    border-radius: 0.2em;
    padding: 10px;
    background-color: #b9b0b0;
    width: 90%;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 2px 0 2px 2px rgba(6, 6, 6, 0.24);
    margin-bottom: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.changeNameBtn {
    width: 100%;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border-width: 0;
    background-color: #2980b9;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sendButton:hover,
.changeNameBtn:hover {
    filter: brightness(85%);
    border-radius: 17px;

}

#username-input {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

.messagestamp {
    border-bottom: 10px;
    border-color: #555;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.selectChannel {
    background-color: rgb(128, 128, 128);
    font-size: 16px;
    border: 3px solid;
    color: white;
    width: 74%;
    text-align: center;
    margin-right: auto;
}

.changeSelectedDiv {
    background-color: rgb(195, 193, 193);
    padding-left: 5px;
}

/* Quiz style: */
.quiz-div {
    box-sizing: content-box;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 0.2em;
    padding: 10px;
    background-color: rgb(189, 183, 197);
    width: 482px;
    min-height: 325px;
}


.buttonsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}



.choiceBtn {
    background-color: #bfeeff;
    width: 100%;
    color: rgb(6, 6, 75);
    font-style: italic;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 22px;
    border-radius: 30px;
    border-width: 0;
    height: 25px;
}

.choiceBtn:hover {
    filter: brightness(60%);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.correct {
    color: black;
    background-color: lightgreen;
}

.wrong {
    color: black;
    background-color: red;
}

.imgChoice {
    height: 150px;
    width: 60%;
    object-fit: fill;
    align-self: center;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}


.inside {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    font-size: 100px;
    margin-left: 12%;
    color: blue;
    font-style: oblique;
    z-index: 1;
    text-shadow: 0 0 20px white;
}

.quizButton {
    color: white;
    width: 100%;
    background-color: #ee56c7;
    background-color: rgba(238, 86, 197, 0.415);
    cursor: pointer;
    border-radius: 7px;
    border-width: 0;
    height: 33px;
    filter: brightness(80%);
}

.quizButton:hover {
    width: 50%;
    filter: brightness(100%);
}